@import 'variables.scss';
@import 'reboot.scss';
@import 'libs/bootstrap/bootstrap-grid.scss';
@import 'fonts.scss';
@import 'libs/slick/slick.scss';
@import 'libs/slick/slick-theme.scss';

button{
	cursor: pointer;
	transition: .2s;
}

header{
	.headertop{
		display: flex;
		h4{
			margin: auto auto auto 100px;
		}
		button{
			display: flex;
			background: transparent;
			flex-direction: column;
			height: 25px;
			justify-content: space-around;
			border: 0;
			margin: auto 0 auto auto;
			span{
				display: block;
				width: 25px;
				height: 3px;
				background-color: #000;
				border-radius: 5px;
				transition: .2s;
				transform: rotateY(0);
			}
			&:hover{
				span:nth-child(1){
					position: absolute;
					transform: rotate(45deg);
				}
				span:nth-child(2){
					opacity: 0;

				}
				span:nth-child(3){
					position: absolute;
					transform: rotate(-45deg);
				}
			}
		}
	}
	.slidersection{
		display: flex;
		h4{
			writing-mode: vertical-lr;
			transform: rotate(180deg);
			a{
				text-decoration: none;
			}
		}
		.current__page{
			display: flex;
			&:before{
				display: block;
				height: 5px;
				background: #000;
				width: 50px;
			}
		}
	}
}