@import 'variables.scss';
@import 'reboot.scss';
@import 'libs/bootstrap/bootstrap-grid.scss';
@import 'fonts.scss';
@import 'libs/slick/slick.scss';
@import 'libs/slick/slick-theme.scss';

.headertop{
	padding: 50px 0;
	background: #fafafa;
	.menu{
		display: flex;
		button{
			display: none;
		}
	}
	.logotype{
		font-size: 50px;
		.primary{
			color: #81c8da;
		}
	}
	nav{
		display: block;
		margin: auto 0 auto auto;
		ul{
			display: flex;
			list-style-type: none;
			li{
				text-transform: capitalize;
				margin: auto 15px;
			}
		}
	}
}

header{
	padding: 50px 0;
	background: $second;
	.slider{
		.slide{
			border-radius: 10px;
			img{
				border-radius: 10px;
			}
		}
	}
}

main{
	padding: 100px 0;
	margin: -100px 0;
	section{
		margin: 100px auto;
	}
	#appearance{
		h4{
			margin: auto 0 auto 15px;
			color: #999;
			text-align: center;
		}
		p{
			margin-top: 15px;
		}
		button{
			background: transparent;
			border: 0;
			cursor: pointer;
			padding: 10px 15px;
			display: flex;
			img{
				margin: auto 5px auto 0;
			}
		}
	}
	#latestWorks{
		.slider{
			display: flex;
			.slide{
				flex-basis: 25%;
				cursor: pointer;
				img{
					width: 100%;
					height: auto;
				}
			}
		}

	}
	#testimionals{
		p{
			margin: 15px auto;
		}
	}
	#clients{
		.clients__row{
			display: flex;
			flex-wrap: wrap;
			padding: 30px 0;
			.client{
				flex-basis: 33.3333%;
				margin: auto;
				display: flex;
				height: 100px;
				box-shadow: inset 0px 0px 20px 0px #f4e7ef;
				img{
					margin: auto;
				}
			}
		}
	}
	.download{
		border: 3px solid #86d8fd;
		background: #e8fcfe;
		button{
			width: 100%;
			padding: 15px;
			background: transparent;
			border: 3px solid #fff;
			font-family: 'Josefin Sans', sans-serif;
			font-size: 18px;
			cursor: pointer;
			transition: .3s;
			&:hover{
				background: #fff;
			}
		}
	}
}

footer{
	margin-top: 100px;
	background: #e8ebf1;
	padding: 100px 0 30px;
	ul{
		list-style-type: none;
	}
	h4{
		margin-bottom: 15px;
	}
	p{
		margin-bottom: 30px;
	}
	.socials{
		span{
			margin: auto;
			display: flex;
			width: 35px;
			height: 35px;
			padding: 5px;
			cursor: pointer;
			&.weblancer{
				background: #3174af;
				border-radius: 50%;
			}			
			&.freelancehunt{
				padding: 0;
				border-radius: 50%;
				img{
					width: 100%;
				}
			}
			img{
				margin: auto;
				width: 15px;
				height: auto;
			}
		}
	}
}

@media (max-width: 992px) {
	.headertop{
		.logotype{
			font-size: 25px;
		}
		nav{
			ul{
				li{
					margin: auto 5px;
				}
			}
		}
		padding: 25px;
	}
}

@media (max-width: 768px) {
	.headertop{
		.menu {
			flex-direction: column;
			button{
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin: auto 0 auto auto;
				padding: 5px;
				border: 0;
				background: transparent;
				cursor: pointer;
				span{
					display: block;
					height: 1px;
					width: 30px;
					margin: 3px 0;
					background: #000;
					transition: .3s;
				}
				&:focus{
					outline: none;
				}
				&:active,&:hover{
					border: 0;
					box-shadow: 0;
					outline: none;
				}
			}
			nav{
				position: absolute;
				z-index: 9999;
				left: 0;
				top: 50px;
				width: 100%;
				padding: 0 15px;
				background: #fafafa;
			}
		}
		nav{
			ul{
				flex-direction: column;
				opacity: 0;
				height: 0;
				transition: 300ms;
				&.menuVisible{
					opacity: 1;
					height: 200px;
				}
			}
		}
	}
}